<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336750370668-56kqan4hr7h3r52kqgmstbthodk0qo6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336750370668-56kqan4hr7h3r52kqgmstbthodk0qo6h</string>
	<key>API_KEY</key>
	<string>AIzaSyCLwY7c2sZtLo2Xyv2VxMrNLUAZEw-Jd0E</string>
	<key>GCM_SENDER_ID</key>
	<string>336750370668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.sevtech.cabinet</string>
	<key>PROJECT_ID</key>
	<string>sevtech-cabinet</string>
	<key>STORAGE_BUCKET</key>
	<string>sevtech-cabinet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336750370668:ios:48eb18fd9c2aa1b5a05d49</string>
</dict>
</plist>